.Footer {
}

.Footer ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.Footer ul li {
  list-style: none;
  text-align: center;
  
}

.Footer ul li .menu Button {
  /* border: 1px solid red; */
  width: 100%;
}

.Footer .menuicon {
  font-size: x-large;
}

.Footer .menutext {
  font-size: small;
}