 .App {
  text-align: center;
}

.App .App-Main {
  text-align: center;
  overflow: scroll;
}

/* -------------------------------------- */

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  width: 100%;
  height: 45px;
  /* border: 1px solid red; */
  
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-bottom: 10px;
  align-items: center;
  background: white;
  z-index: 90;
}

.Header .login {
  position: fixed;
  /* top: 0; */
  left: 5px;
}

.Header .todayStr {
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  /* border: 1px solid red; */
}

/* -------------------------------------- */
article {
  height: calc(100% - 100px);
  /* border: 1px solid red; */
  overflow: scroll;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* -------------------------------------- */
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  /* border: 1px solid red; */
  background: white;
}

.Footer ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.Footer ul li {
  list-style: none;
  text-align: center;
  
}

.Footer ul li .menu Button {
  /* border: 1px solid red; */
  width: 100%;
}

.Footer .menuicon {
  font-size: large;
}

.Footer .menutext {
  font-size: small;
}

.Books .bookSelect-menu{
  display: flex;
  justify-content: space-around;

}
.Books .collectCombobox {
  width: 20em;
}

/* -------------------------------------- */

.Login {
  text-align: center;
}

/* -------------------------------------- */

.Suggest {
}

.Suggest .suggest {
  /* display: flex;
  width: 80%; */
}

.Suggest .suggest > div {
  /* border: 1px solid red; */
}

.Suggest .suggest .card-icon {
  width: 20%;
}

.Suggest .suggest .card-content {
  width: 60%;
}

.Suggest .suggest .card-ok {
  width: 20%;
}

.ScheduleDetail {
  text-align: center;
}