.App {
  margin: auto;
}

/* -------------------------------------- */

.App .Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  /* width: 100%; */
  height: 45px;
  /* border: 1px solid red; */
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 50px; */

  background: white;
  z-index: 90;

  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 1px solid purple;
}

.Header .logo {
  padding: 5px;
  height: 40px;
  width: 40px;
}

/* -------------------------------------- */
article {
  margin: 0;
  height: calc(100% - 100px);
  /* border: 1px solid red; */
  /* overflow: scroll; */
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
/* -------------------------------------- */
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
}

/* -------------------------------------- */


/* -------------------------------------- */

.Books .bookSelect-menu{
  display: flex;
  justify-content: space-around;
}
.Books .collectCombobox {
  width: 20em;
}

/* -------------------------------------- */

.Login {
}
.Login .login {
  /* border: 1px solid blue; */
  margin: auto;
  margin-top: 5rem;
}
/* -------------------------------------- */
.DoitBatchDetail .doitBatchDetail {
  margin: auto;
  margin-top: 5rem;
}
/* -------------------------------------- */
.SuggestDetail .suggestDetail {
  margin: auto;
  margin-top: 5rem;
}
/* -------------------------------------- */
.ScheduleDetail .scheduleDetail {
  margin: auto;
  margin-top: 5rem;
}
/* -------------------------------------- */
.CollectDetail .collectDetail {
  margin: auto;
  margin-top: 5rem;
}
/* -------------------------------------- */
.BookDetail .bookDetail {
  margin: auto;
  margin-top: 5rem;
}
.BookDetail .bookDetailAdd {
  margin: auto;
  margin-top: 2rem;
}
/* -------------------------------------- */
.Report .report {
  margin: auto;
  margin-top: 2rem;
}
/* -------------------------------------- */




