 .App {
  text-align: center;
}

.App .App-Main {
  text-align: center;
}

footer {
  margin: 0;
  padding: 0;
  /* height: 60px;
  position: relative;
  transform: translateY(0%);
  border-top: 1px solid blue;

  display: flex;
  align-items: center;
  justify-content: center; */
  position: fixed;
  left: 0;
  bottom: 0;
  /* height: 160px; */
  width: 100%;
  background-color: skyblue;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  /* border-radius: 10px; */
  overflow: hidden;
}
th {
  background-color: #dcd3ff;
  color: #202020;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
th, td {
  padding: 10px;
  border: 1px solid #223575;
}
/* tr {
  background-color: #c3d1ff;
  border: 1px solid #223575;
}
tr:nth-child(even) {
  background-color: #ffd0d0;
  border: 1px solid #ff7575;
}
 */
tr:hover {
  background-color: #ddd;
}
/* required css to make the rows rounded */
/* th:first-child, td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
th:last-child, td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
} */

/* -------------------------------------- */
.Header {
  /* height: 3em; */
  display:flex;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Header .index, .todayStr, .login {
  height: 100%;
  align-items: center;
}

/* -------------------------------------- */

.Footer {
}

.Footer ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.Footer ul li {
  list-style: none;
  text-align: center;
  
}

.Footer ul li .menu Button {
  /* border: 1px solid red; */
  width: 100%;
}

.Footer .menuicon {
  font-size: x-large;
}

.Footer .menutext {
  font-size: small;
}